# Application
APP_ENV=development
APP_PORT=8000
LOG_LEVEL=INFO

# Postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=npcompliance
POSTGRES_USER=npc
POSTGRES_PASSWORD=changeme
DATABASE_URL=postgresql+asyncpg://npc:changeme@postgres:5432/npcompliance
DATABASE_URL_SYNC=postgresql://npc:changeme@postgres:5432/npcompliance

# Redis
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1

# IRS / ProPublica
PROPUBLICA_API_KEY=
IRS_S3_BUCKET=irs-form-990

# OFAC
OFAC_SDN_URL=https://www.treasury.gov/ofac/downloads/sdn.xml
